.weather-card {
    margin: 2em;
}

.weather-card h2 {
    padding: 10px;
    text-align: center;
    margin-bottom: -10px;
}

.weather-info {
    text-transform: capitalize;
    text-align: center;
}

.weather-state {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.weather-state h3 {
    font-size: 2em;
}