.weather-card {
    margin-top: 2.5em;
}

.weather-card h2 {
    padding: 10px;
    text-align: center;
}

.weather-info {
    text-transform: capitalize;
    text-align: center;
}

.weather-state {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.weather-state h3 {
    font-size: 2em;
}