.weather-container {
    background: rgba( 194, 189, 189, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(12, 12, 12, 0.37);
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}

@media screen and (min-width: 375px) {
    .weather-container {
        width: 300px;
        padding: 15px;
    }
}

@media screen and (min-width: 500px) {
    .weather-container {
        width: 400px;
    }
}

@media screen and (min-width: 700px) {
    .weather-container {
        width: 500px;
    }
}

@media screen and (min-width: 1000px) {
    .weather-container {
        width: 750px;
    }
}
